*, ::before, ::after {
    box-sizing: border-box;
}

html, body, .doc-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.doc-container {
    font-size: 14px;
    background-color: #f9fafb;
    font-family: "PingFang SC", "Microsoft YaHei", 黑体, 宋体, sans-serif;
    position: relative;
}

.doc-toolbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f9fafb;
}

.doc-toolbar-wrapper {
    height: 44px;
    padding: 8px 0;
    margin: 0 auto;
    display: flex;
    width: max-content;
}

.doc-toolbar-btn {
    margin: 0 8px;
    opacity: 0.2;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    cursor: default;
}

.doc-toolbar-btn.enable {
    opacity: 1;
    background: none;
}

.doc-toolbar-btn.enable:hover {
    background-color: #eff0f1;
}

.doc-toolbar-btn.enable:active {
    background-color: #e5e6e7;
}

.doc-toolbar-btn-divide {
    margin: 6px 8px 8px;
    height: 16px;
    width: 1px;
    opacity: 0.12;
    background-color: rgb(0, 0, 0);
    vertical-align: top;
    display: inline-block;
}

.doc-toolbar-btn-text > span {
    position: relative;
    bottom: 7px;
    right: 6px;
    opacity: 0.8;
    padding-left: 2px;
}

.doc-toolbar-btn-icon > div {
    background: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22UTF-8%22%3F%3E%3Csvg width%3D%226px%22 height%3D%224px%22 viewBox%3D%220 0 6 4%22 version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E    %3C!-- Generator%3A Sketch 55.2 (78181) - https%3A%2F%2Fsketchapp.com --%3E    %3Ctitle%3E%E5%B7%A5%E5%85%B7%E6%A0%8F%E4%B8%8B%E6%8B%89%E7%AE%AD%E5%A4%B4%3C%2Ftitle%3E    %3Cdesc%3ECreated with Sketch.%3C%2Fdesc%3E    %3Cg id%3D%22%E4%BC%98%E5%8C%96-web%22 stroke%3D%22none%22 stroke-width%3D%221%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22 opacity%3D%220.400000006%22%3E        %3Cg id%3D%22excel_%E4%B8%BB%E6%A1%86%E6%9E%B6%22 transform%3D%22translate(-428.000000%2C -76.000000)%22 fill%3D%22%23000000%22 fill-rule%3D%22nonzero%22%3E            %3Cpolygon id%3D%22%E5%B7%A5%E5%85%B7%E6%A0%8F%E4%B8%8B%E6%8B%89%E7%AE%AD%E5%A4%B4%22 points%3D%22428 76 434 76 431.011701 80%22%3E%3C%2Fpolygon%3E        %3C%2Fg%3E    %3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
    float: right;
    margin: 11px 0 0;
    padding: 0;
    vertical-align: middle;
    width: 6px;
    height: 4px;
    top: 1px;
}

.scroll-shadow {
    position: absolute;
    z-index: 2;
    top: 44px;
    height: 6px;
    width: 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.06)), to(transparent));
    transition: opacity .3s ease-in-out;
    opacity: 0;
}
.scroll-shadow.show {
    opacity: 1;
}

.doc-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.doc-content-wrapper {
    margin: 0 auto;
    width: 810px;
    min-height: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #e8d9d9;
    padding: 120px 100px;
    transition: transform .2s;
}
.doc-content.print{
    z-index: 10;
    padding: 0;
}
.doc-content.print .doc-content-wrapper{
    width: 100%;
    box-shadow: none;
    transition: width .3s ease-in-out;
}
.doc-footer{
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(228, 228, 228);
    z-index: 1;
}
.doc-statusbar{
    padding: 0 22px;
    background-color: #f0f0f0;
    border-top: solid #e4e4e4 1px;
}
.doc-statusbar>.doc-toolbar-btn-divide{
    height: 10px;
    margin-top: 7px;
}
.doc-statusbar>.right{
    float: right;
}
.doc-doc-statusbar-group{
    display: flex;
}
.doc-doc-statusbar-group:hover{
    background-color: #e7e7e7;
}
.doc-statusbar-btn{
    width: 24px;
    height: 25px;
    cursor: default;
}
.doc-statusbar-btn:hover{
    background-color: #dedede;
}
.doc-statusbar-btn:active{
    background-color: #d5d5d5;
}
.doc-statusbar-btn.fullscreen{
    background: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e %3csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3ctitle%3ebottombar/fill%3c/title%3e %3cg id='bottombar/fill' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3cg id='bottombar_fill'%3e %3crect id='%e7%9f%a9%e5%bd%a2' x='0' y='0' width='24' height='24'%3e%3c/rect%3e %3cpath d='M9.809%2c13.309 L10.692%2c14.192 L7.134%2c17.752 L9.99162909%2c17.7512208 L9.99162909%2c19 L5%2c19 L5%2c14.0048834 L6.24790727%2c14.0048834 L6.247%2c16.873 L9.809%2c13.309 Z M14.191%2c13.309 L17.753%2c16.873 L17.7520927%2c14.0048834 L19%2c14.0048834 L19%2c19 L14.0083709%2c19 L14.0083709%2c17.7512208 L16.866%2c17.752 L13.308%2c14.192 L14.191%2c13.309 Z M9.99162909%2c5 L9.99162909%2c6.24877916 L7.133%2c6.248 L10.692%2c9.808 L9.809%2c10.691 L6.247%2c7.127 L6.24790727%2c9.99511664 L5%2c9.99511664 L5%2c5 L9.99162909%2c5 Z M19%2c5 L19%2c9.99511664 L17.7520927%2c9.99511664 L17.753%2c7.127 L14.191%2c10.691 L13.308%2c9.808 L16.867%2c6.248 L14.0083709%2c6.24877916 L14.0083709%2c5 L19%2c5 Z' id='%e5%bd%a2%e7%8a%b6%e7%bb%93%e5%90%88' fill='%23464D5A'%3e%3c/path%3e %3c/g%3e %3c/g%3e %3c/svg%3e") no-repeat;
    background-size: 24px 24px;
}
.doc-statusbar-btn.fullscreen.open{
    background: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e %3csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3ctitle%3ebottombar/out/fill%3c/title%3e %3cg id='bottombar/out/fill' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3crect id='%e7%9f%a9%e5%bd%a2' x='0' y='0' width='24' height='24'%3e%3c/rect%3e %3cpath d='M5.8824037%2c19 L5%2c18.1169798 L8.866%2c14.248 L6.00837091%2c14.2487792 L6.00837091%2c13 L11%2c13 L11%2c17.9951166 L9.75209273%2c17.9951166 L9.753%2c15.127 L5.8824037%2c19 Z M18.1175963%2c19 L14.247%2c15.127 L14.2479073%2c17.9951166 L13%2c17.9951166 L13%2c13 L17.9916291%2c13 L17.9916291%2c14.2487792 L15.134%2c14.248 L19%2c18.1169798 L18.1175963%2c19 Z M6.00837091%2c11 L6.00837091%2c9.75122084 L8.867%2c9.752 L5%2c5.88302021 L5.8824037%2c5 L9.753%2c8.873 L9.75209273%2c6.00488336 L11%2c6.00488336 L11%2c11 L6.00837091%2c11 Z M13%2c11 L13%2c6.00488336 L14.2479073%2c6.00488336 L14.247%2c8.873 L18.1175963%2c5 L19%2c5.88302021 L15.133%2c9.752 L17.9916291%2c9.75122084 L17.9916291%2c11 L13%2c11 Z' id='%e5%bd%a2%e7%8a%b6%e7%bb%93%e5%90%88' fill='%23464D5A'%3e%3c/path%3e %3c/g%3e %3c/svg%3e") no-repeat;
}
.doc-statusbar-btn.minus{
    position: relative;
}
.doc-statusbar-btn.minus::before{
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 10px;
    height: 2px;
    background-color: #464d5a;
}
.doc-statusbar-btn.percent{
    width: 46px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.doc-statusbar-btn.plus{
    position: relative;
}
.doc-statusbar-btn.plus::before{
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 10px;
    height: 2px;
    background-color: #464d5a;
}
.doc-statusbar-btn.plus::after{
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 11px;
    width: 2px;
    height: 10px;
    background-color: #464d5a;
}